<section class="example-card">
  <form [formGroup]="checkInForm">
    <div
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutGap="20px"
      fxLayoutAlign="flex-start"
    >
      <div
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
      >
        <mat-form-field appearance="outline">
          <mat-label> Check In </mat-label>
          <input
            matInput
            [min]="checkInDateConfig.min"
            [matDatepicker]="checkInpicker"
            (dateChange)="checkInDateChange()"
            formControlName="checkIn"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="checkInpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #checkInpicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
      >
        <mat-form-field appearance="outline">
          <mat-label> Check out </mat-label>
          <input
            matInput
            [min]="checkOutDateConfig.min"
            [matDatepicker]="checkOutpicker"
            formControlName="checkOut"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="checkOutpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #checkOutpicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutGap="20px"
      fxLayoutAlign="flex-start"
    >
      <div
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
      >
        <mat-form-field appearance="outline">
          <mat-label> Room Type </mat-label>
          <mat-select formControlName="roomType">
            <mat-option
              *ngFor="let option of roomOptions"
              [value]="option.value"
            >
              {{ option.key }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
      >
        <mat-form-field appearance="outline">
          <mat-label> Persons </mat-label>
          <mat-select formControlName="numberOfPersons">
            <mat-option *ngFor="let option of personsOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutGap="20px"
      fxLayoutAlign="flex-start"
    >
      <ng-container formArrayName="typesOfFood">
        <section class="section-container">
          <label>Food Service:</label>
          <div *ngFor="let control of foodControls; let i = index">
            <mat-checkbox
              class="section-margin"
              [formControlName]="i"
              color="primary"
              (change)="onChange(foodOptions[i])"
            >
              {{ foodOptions[i] }}
            </mat-checkbox>
          </div>
        </section>
      </ng-container>
    </div>

    <div
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutGap="20px"
      fxLayoutAlign="flex-start"
    >
      <section class="section-container">
        <label id="pickUp">Pick up</label>
        <mat-radio-group
          aria-labelledby="pickUp"
          class="radio-group"
          formControlName="pickUp"
          color="primary"
        >
          <mat-radio-button class="radio-button" value="Y">
            Yes, Sure
          </mat-radio-button>
          <mat-radio-button class="radio-button" value="N">
            No, I already rented a car
          </mat-radio-button>
        </mat-radio-group>
      </section>
    </div>
  </form>
</section>
