<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Guest Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="personForm">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" />
        </mat-form-field>
      </p>
      <section class="section-container">
        <label class="section-margin"> Gender: </label>
        <mat-radio-group aria-label="Gender" formControlName="gender">
          <mat-radio-button class="section-margin" value="M">
            Male
          </mat-radio-button>
          <mat-radio-button class="section-margin" value="F">
            Female
          </mat-radio-button>
        </mat-radio-group>
      </section>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary">Ok</button>
    <button mat-stroked-button color="primary">Cancel</button>
  </mat-card-actions>
</mat-card>
