<div class="container" fxLayout="column" fxFill>
  <mat-toolbar class="header" color="primary">
    <button mat-icon-button class="sidenav-btn" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">{{ title }}</span>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" fxFill>
    <mat-sidenav
      #sidenav
      mode="side"
      [opened]="mediaObserver.isActive('xs') ? false : true"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="{{ nav.path }}"
          *ngFor="let nav of routes; index as i"
        >
          <mat-icon class="nav-link-icon" aria-hidden="false">
            {{ nav.icon }}</mat-icon
          >
          {{ nav.name }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" fxLayout="column">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
